*{
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar{
    width: 100%;
    height: 80px;
    border: 0.5px 0.5px 0.5px 0.5px;
    display: inline-block;
    border-style: solid ;
    border-width: 0.5px;


}

.logo{
    display: inline-block;
    padding: 20px 30px;
}


.main{
    display: inline-block;
    float: right;
    padding: 25px 30px;
    font-size: 20px;
}
.heading{
    display: inline-block;
    padding-top: 150px;
    padding-left: 50px;
    font-size: 30px;
}

.heading h1{
    background: linear-gradient(90deg, #2B7DDD 3.58%, #45CDD6 50.39%, #46B314 98.18%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
.btn01{
    display: inline-block;
    padding: 20px 80px;
    border-radius: 100px;
    border-style: none;
    color: white;
    background-color: blue;
    font-size: 20px;
}


.main-h3{
    text-align: center;
    font-size: 20px;
    float: right;
    padding-right: 150px;
    padding-top:130px;
    width: 30%;
    
}
.form{
    padding: 20px 50px;
}

.btn02{
    padding: 10px 100px;
    background-color: #46B314;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    

}
.btn02 a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.main-h3 input{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid;
    border-color: rgb(196, 190, 190);
}

.form-box{
    border-color: #b3a6a6;
    box-shadow: 0px 0px 7px 0px;
    border-radius: 30px;
    padding: 20px 20px;
    border: 1px solid;
    border-style: none;
}

.form-head {
   
    padding-left: 24px;
}

.main-h3 h3{
    margin-bottom: 20px;
}